*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html {
  
  background-image: url(./Assets//background.png);
  backdrop-filter: brightness(25%) !important;
  background-size: cover;
}
