
.span-gras {
  font-weight: bold;
}

#contenu2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#contenu2 p {
    margin-top: 55px;
    font-size: 1.2vw;
    width: 80%;
    line-height: 35px;
    color: #F1F1F1F1;
    text-align: center;
}

#contenu2 h2 {
  color: #F1F1F1F1;
  margin-top: 3vh;
  font-size: 3vh;
}

.astro-crayon {
    position: absolute;
    z-index: -5;
    width: 12vw;
    transform: translate(34vw, -2vw);
  }
  .astro-livre {
    position: absolute;
    z-index: -5;
    width: 12vw;
    transform: translate(-34.2vw, 26vw);
  }

  @media (max-width: 920px) {

   #contenu2 p {
    font-size: 2.2vw;
   }
   .astro-crayon {
    transform: translate(34vw, 0vw);
    width: 20vw;
   }

   .astro-livre {
    transform: translate(-39vw, 37vw);
    width: 20vw;
   }
  }