.projet-container {
    margin-top: 4vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
}

.projet-surcontainer {
    display: flex;
    justify-content: center;
}
.tp-container {
    border-radius: 5px;
    background-size: cover;
    background-position-x: -50px;
    height: 35vh;
    width: 14vw;
    transition: 0.5s ease-in;
}

.p1 {
    background-image: url(../../Assets/Booki.png);
}

.p2 {
    background-image: url(../../Assets/ohmyfood.png);
}

.p3 {
    background-image: url(../../Assets/sophie.png);
    background-position: -100px;
}

.p4 {
    background-image: url(../../Assets/kasa.png);
    background-position: -300px;
}

.p5 {
    background-image: url(../../Assets/argentbank.png);
    background-position: -500px;
}